* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(245, 245, 245);
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(17, 17, 17);
}

h1 {
    font-size: 5.3rem;
    font-weight: 600;
}

.container {
    min-width: 1100px;
    max-width: 1100px;
    margin: auto;
}

ul {
    list-style-type: none;
}





/* HEADER */
/* HEADER */

header {
    width: 100%;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0rem;
}

.logo {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

header ul, footer ul, .sectionThree ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}




a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

span {
    border-bottom: 0.06em solid rgb(54, 250, 185);
}

/* MAIN */
/* MAIN */

.hero {
    width: 100%;
}

.containerMain {
    display: flex;
    height: 100%;
    width: 100%
}

.containerMain__presentacion {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: rgb(255, 255, 255);
}

.containerMain__imagen {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    top: -115px;
    width: max-content;
    /* CON ESTO DE ABAJO, PUDE HACER QUE EL TEXTO (DIV) SE SUPERPONGA A LA FOTO DE AL LADO (EL DIV VECINO) */
    margin-left: -100px;
    /* CON ESTO DE ARRIBA, PUDE HACER QUE EL TEXTO (DIV) SE SUPERPONGA A LA FOTO DE AL LADO (EL DIV VECINO) */

}

a {
    font-weight: 600;
}

.containercontainerMain__imagen::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(0, 0, 0);
    opacity: 0.4;
}

.circulo{
    width: 100px;
    height: 100px;
    background-color: inherit;
    border: 2px solid rgb(54, 250, 185);
    border-radius: 50%;
    position: absolute;
    left: -50px;
    bottom: 100px;
  }


/* SECTION SKILLS */
/* SECTION SKILLS */

.sectionTwo {
    /* EL MIN-WIDTH DE ACÁ ABAJO FUE MUY IMPORTANTE PARA ARREGLAR QUE EL BACKGROUND-IMAGE SE ACHICABA CUANDO ACHICABA EL NAVEGADOR */
    min-width: max-content; 
    /* EL MIN-WIDTH DE ACÁ ARRIBA FUE MUY IMPORTANTE PARA ARREGLAR QUE EL BACKGROUND-IMAGE SE ACHICABA CUANDO ACHICABA EL NAVEGADOR */
    position: relative;
    background-image: url('Images/backgroundSkills.jpg');
    background-size: cover;  /*VER QUE PASÓ ACÁ QUE SE ME ACHICA LA IMAGEN*/
    background-position: center;
    z-index: 0;
}

.sectionTwo h2 {
    font-weight: 300;
    font-size: 5.5rem;
}
.containerSectionDos span {
    font-weight: 700;
}

.sectionTwo::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.796) 50%, rgb(17, 17, 17) 85%);
    opacity: 1;
}

.containerSectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0rem 4.5rem 0rem;
}


hr {
    width: 100%;
    color: white;
}


.containerSectionTwo h2 {
    font-size: 5rem;
    margin: 0rem 0rem 3rem 0rem;
    font-weight: 300;
}

.containerSkills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". html . css ."
                         "js . react . node";
    gap: 2rem;

}

.containerHtml {
    grid-area: html;
}

.containerCSS {
    grid-area: css;
}

.containerJavascript {
    grid-area: js;
}

.containerReactJS {
    grid-area: react;
}

.containerNodeJS {
    grid-area: node;
}


.containerSkills__containerIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

/* SECTION PROJECTS */
/* SECTION PROJECTS */

.sectionThree {
      background-color: rgb(17, 17, 17);
}

.containerSectionThree {
    padding: 3rem 0;
}

.containerTitleProjects  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.containerTitleProjects h3 {
    font-size: 4rem;
}

.containerGridProjects  { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    margin: 3rem 0;
}



.containerGridProjects img {
    height: 205px;

}

/* SECTION FORM */
/* SECTION FORM */

.sectionFour h4 {
    font-size: 4rem;
}

.sectionFour {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* EL MIN-WIDTH DE ACÁ ABAJO FUE MUY IMPORTANTE PARA ARREGLAR QUE EL BACKGROUND-COLOR SE ACHICABA CUANDO ACHICABA EL NAVEGADOR */
     min-width: max-content; 
     /* EL MIN-WIDTH DE ACÁ ARRIBA FUE MUY IMPORTANTE PARA ARREGLAR QUE EL BACKGROUND-COLOR SE ACHICABA CUANDO ACHICABA EL NAVEGADOR */
    background-color: rgb(30, 30, 30);
}
.containerSectionFour {
    padding: 3rem 0;
    display: grid;
    gap: 5rem;
}
.containerTextandForm {
    display: flex;
    justify-content: space-between;

}

.contactText {
    width: 40%;
}

.containerForm {
 width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

form input, form textarea {
    background: inherit;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 600;
    padding: 7px 0;
    width: 100%;
}

form button {
    
    background: inherit;
    border: none;
    border-bottom: 4px solid rgb(54, 250, 185);
    color: white;
    padding: 2px 0;
    margin-top: 1rem;
    font-weight: 600;
}

/* FOOTER */
/* FOOTER */

footer ul {
    display: flex;
    gap: 1rem;
}
footer {
    background-color: rgb(30, 30, 30);
}

footer .containerFooter {
    padding: 0rem 0rem 5rem 0rem;
display: flex;
justify-content: space-between;
}

/* SECTION CONTACT */

/* @media screen and (max-width: 600px){
    .containerGridProjects { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 4rem;
        justify-self: center;
        padding: 3rem 0;
    }
    
} */


